# --- API Backend ---
Flask>=3.0.0
Flask-Cors>=4.0.0

# Dépendances de base
python-docx>=0.8.11
spacy>=3.6.0
streamlit>=1.24.0
pandas>=2.0.0

# Traitement du texte et des dates
regex>=2023.6.3
PyPDF2>=3.0.0
dateparser>=1.1.8
python-dateutil>=2.8.2
rapidfuzz>=3.3.1
spacy>=3.7.0,<4.0.0


# Extraction et normalisation
phonenumbers>=8.13.20  # Pour la normalisation des numéros de téléphone

# Tests
pytest>=7.4.0

# Note: Pour installer le modèle français de spaCy, exécuter :
python -m spacy download fr_core_news_md

pip install flask flask-cors
